In [1]:
from datetime import datetime
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/minmohxo/python-basics-for-data-engineering/main/exchange_rates_1.csv"


def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S'
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt", "a") as f:
        f.write(timestamp + ',' + message + '\n')

In [3]:
# Extract from CSV and explicitly setting the index
def extract_from_csv(file):
    dataframe = pd.read_csv(file, index_col=0)
    return dataframe

In [4]:
# Round the rates to seven decimal points
def transform(data):
    data['rates'] = round(data.rates, 7)
    return data

In [5]:
# Loading the transformed data
def load(target_file, data_to_load):
    data_to_load.to_csv(target_file)


target_file = 'transformed.csv'

In [6]:
log("ETL Job Started")

In [7]:
log("Extract phase Started")
extracted_data = extract_from_csv(url)
log("Extract phase Ended")
extracted_data

           rates
AED     3.755921
AFN    92.029582
ALL   116.953824
AMD   416.902939
ANG     1.845622
..           ...
YER   255.790436
ZAR    16.834928
ZMK  9204.151278
ZMW    16.730892
ZWL   329.259629

[167 rows x 1 columns]

In [8]:
log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")
transformed_data

           rates
AED     3.755921
AFN    92.029582
ALL   116.953824
AMD   416.902939
ANG     1.845622
..           ...
YER   255.790436
ZAR    16.834928
ZMK  9204.151278
ZMW    16.730892
ZWL   329.259629

[167 rows x 1 columns]

In [9]:
log("Load phase Started")
load(target_file, transformed_data)
log("Load phase Ended")

In [10]:
log("ETL Job Ended")

In [11]:
# Find the exchange rate for Great British Pounds with the symbol GBP
GBP_rate = extracted_data.loc['GBP']
GBP_rate

rates    0.839874
Name: GBP, dtype: float64